@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
.bordered {
  border: solid 0.1em #fff;
}
body {
  background: #eef6fb;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
@media only screen and (min-width: 1129px) {
  .wrapper {
    max-width: 768px;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1128px) {
  .wrapper {
    max-width: 640px;
  }
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 1em 4em;
  margin: 0;
  font-size: 200%;
}
.navbar .city {
  cursor: pointer;
}
.navbar .active-city {
  cursor: pointer;
  font-weight: 800;
  color: #5fb0e8;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .navbar {
    flex-direction: column;
  }
}
@media only screen and (max-width: 529px) {
  .navbar {
    flex-direction: column;
  }
}
.weather-container {
  background: #eef6fb;
  border: solid 0.1em #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
  font-size: 150%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container {
    flex-direction: column;
  }
}
.weather-container .today-forcast {
  border: solid 0.1em #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-basis: 100%;
  padding-bottom: 1em;
}
.weather-container .today-forcast .temperature {
  font-weight: 800;
  font-size: 250%;
  margin: 0;
}
.weather-container .today-forcast .weather-icon {
  width: 25%;
  vertical-align: middle;
}
.weather-container .today-forcast .weather-description {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}
.weather-container .today-forcast .date {
  font-size: 150%;
  padding-top: 1em;
  margin: 0;
}
.weather-container .today-forcast .description {
  font-size: 150%;
  margin: 0;
}
.weather-container .extended-forcast {
  border: solid 0.1em #fff;
  flex-basis: calc(25% - 0.2em);
  height: 200px;
}
.weather-container .extended-forcast .day {
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
.weather-container .extended-forcast .temperature-extended {
  margin-top: 0.75em;
  padding-bottom: 1.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
.weather-container .extended-forcast .weather-icon-extended {
  max-width: 30%;
}
.weather-container .extended-forcast .temperature-extended {
  font-weight: 600;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast .temperature-extended {
    padding-bottom: 2.5em;
  }
}
.weather-container .extended-forcast-first {
  border: solid 0.1em #fff;
  flex-basis: calc(25% - 0.2em);
  height: 200px;
  border-bottom-left-radius: 8px;
}
.weather-container .extended-forcast-first .day {
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-first .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast-first .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
.weather-container .extended-forcast-first .temperature-extended {
  margin-top: 0.75em;
  padding-bottom: 1.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-first .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast-first .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
.weather-container .extended-forcast-first .weather-icon-extended {
  max-width: 30%;
}
.weather-container .extended-forcast-first .temperature-extended {
  font-weight: 600;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-first .temperature-extended {
    padding-bottom: 2.5em;
  }
}
.weather-container .extended-forcast-last {
  border: solid 0.1em #fff;
  flex-basis: calc(25% - 0.2em);
  height: 200px;
  border-bottom-right-radius: 8px;
}
.weather-container .extended-forcast-last .day {
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-last .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast-last .day {
    margin-top: 0.75em;
    margin-bottom: 0;
  }
}
.weather-container .extended-forcast-last .temperature-extended {
  margin-top: 0.75em;
  padding-bottom: 1.5em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-last .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast-last .temperature-extended {
    margin-top: 0;
    margin-bottom: 2em;
  }
}
.weather-container .extended-forcast-last .weather-icon-extended {
  max-width: 30%;
}
.weather-container .extended-forcast-last .temperature-extended {
  font-weight: 600;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-last .temperature-extended {
    padding-bottom: 2.5em;
  }
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .weather-container .extended-forcast-last {
    border-bottom-left-radius: 8px;
  }
}
@media only screen and (max-width: 529px) {
  .weather-container .extended-forcast-last {
    border-bottom-left-radius: 8px;
  }
}
/*# sourceMappingURL=App.css.map */